#Header-container{
    position: relative;
    border: 1px solid #e9e8e8;
    width: 100%;
    height: 6.5rem;
    display: flex;
    align-items: center;
   
}
#Header-Title{
    margin-left: 2rem;
    display: flex;
    gap: 0.3rem;
    align-items: center;
    justify-content: center;
    text-decoration: none;

}
#Header-Title span:first-child{
    font-weight: bold;
    font-family: "Carter One", system-ui;

}
#Header-Title span:last-child{
    color: #317ef3;
    font-weight: bold;
    font-size: 1.5rem;
    font-family: "Carter One", system-ui;

}
#Header-Elements{
    font-family: "Assistant", sans-serif;
    font-size: 1.1rem;
    display: flex;
    gap: 3rem;
    border: 1px solid #75757500;
    align-self: center;
    margin-right: auto;
    margin-left: auto;
    text-decoration: none;

}
#Header-Login-Signup{
    margin-right: 2rem;
    font-family: "Arsenal", sans-serif;
    margin-left:auto ;
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    width: auto;

}
#Header-Login-Signup #signup-btn{
    font-family: "Arsenal", sans-serif;

    text-decoration: none;
    color: #000000;
    font-size: 1rem;
    

}
#Header-Login-Signup #Login-btn{
    font-family: "Arsenal", sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border: 1px solid #317ef3;
    background-color: #317ef3;
    color: #ffffff;
    border-radius: 10px;
    height: 2.5rem;
    width: 6.5rem;
    font-size: 1rem;

}
#service-options{
    position:absolute;
    border: 1px solid #d5d5d5;
    background-color: white;
    border-radius: 10px;
    width: 15rem;
    height: 10rem;
    top: 6rem;
    left: 38rem;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    font-family: "Arsenal", sans-serif;
    


}
#service-options div {
    display: flex;
    align-items: center;
    height: 1rem;
    margin-left: 0.5rem;
    gap: 1rem;
    cursor: pointer;
 
}
#service-options div span {
    font-size: 1.1rem;
}
#service-options div span:last-child{
    display: flex;
    justify-content: center;
    align-items: center;
}
#info-dev-options{
    position: absolute;
    border: 1px solid #d5d5d5;
    border-radius: 10px;
    width: 16rem;
    height: 7rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
    left: 53.5rem;
    top: 8rem;
    font-family: "Arsenal", sans-serif;


}
#info-dev-options span {
    margin-left: 1rem;
}
.h-6{
    height: 1rem;

}