#Header-container{
    position: relative;
    border: 1px solid #e9e8e8;
    border-top: none;
    border-right: none;
    border-left: none;
    width: 100%;
    height: 6.5rem;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    /* flex-wrap: wrap; */
   
}
#Header-Title{
    /* border: 1px solid black; */
    margin-left: 2rem;
    display: flex;
    gap: 0.3rem;
    align-items: center;
    justify-content: center;
    text-decoration: none;

}
#Header-Title span:first-child{
    font-weight: bold;
    font-family: "Carter One", system-ui;

}
#Header-Title span:last-child{
    color: #317ef3;
    font-weight: bold;
    font-size: 1.5rem;
    font-family: "Carter One", system-ui;

}
#Header-Elements{
    font-family: "Assistant", sans-serif;
    font-size: 1.1rem;
    display: flex;
    gap: 3rem;
    border: 1px solid #75757500;
    align-self: center;
    margin-right: auto;
    margin-left: auto;
    text-decoration: none;

}
#Header-Login-Signup{
    margin-right: 2rem;
    font-family: "Arsenal", sans-serif;
    margin-left:auto ;
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    width: auto;

}
#Header-Login-Signup #signup-btn{
    font-family: "Arsenal", sans-serif;

    text-decoration: none;
    color: #000000;
    font-size: 1rem;
    

}
#Header-Login-Signup #Login-btn{
    font-family: "Arsenal", sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border: 1px solid #317ef3;
    background-color: #317ef3;
    color: #ffffff;
    border-radius: 10px;
    height: 2.5rem;
    width: 6.5rem;
    font-size: 1rem;

}
#service-options{
    position:absolute;
    border: 1px solid #d5d5d5;
    background-color: white;
    border-radius: 10px;
    width: 15rem;
    height: 10rem;
    top: 6rem;
    left: 38rem;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.2rem;
    font-family: "Arsenal", sans-serif;
    


}
#service-options div {
    display: flex;
    align-items: center;
    height: 1rem;
    margin-left: 0.8rem;
    gap: 1rem;
    cursor: pointer;
 
}
#service-options div span {
    font-size: 1.1rem;
}
#service-options div span:last-child{
    display: flex;
    justify-content: center;
    align-items: center;
}
#info-dev-options{
    position: absolute;
    border: 1px solid #d5d5d5;
    border-radius: 10px;
    width: 16rem;
    height: 7rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
    left: 53.5rem;
    top: 8rem;
    font-family: "Arsenal", sans-serif;


}
#info-dev-options span {
    margin-left: 2.5rem;
}
.h-6{
    height: 1rem;

}
#login-round-container{
    /* border: 1px solid black; */

    border-radius:10px ;
    width: 4.5rem;
    height: 4.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
#login-round-container svg {
    height: 4rem;
    stroke: rgb(146, 169, 207);
}

.menu-bar-c4-mg{
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu-bar-c4-mg svg {
    height: 3rem;
}
.menu-bar-item-c7 {
    height: 10rem;
    width: 7em;
    position: absolute;
    top:4.8rem;
    right: 3rem;
    z-index: 1;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 1.7em;
    gap: .5rem;
    background-color: white;
    border: 1px solid rgb(193, 193, 193);
    border-radius: 10px;
    font-family: "Arsenal", sans-serif;
    font-size: 1.3rem;

}

@media (min-width:50px) and (max-width:300px) {


}
@media (min-width:300px) and (max-width:550px) {
    #Header-Elements{
        display: none;
    }
    #Header-Login-Signup {
        display: none;
    }
    #Header-container{
        /* border: 1px solid red; */
    }
    .menu-bar-c4-mg {
        margin-left: auto;
        align-self:flex-end ;
        height: 7rem;
        width: 5rem;
    }
}
@media (min-width:550px) and (max-width:750px) {
    #Header-Elements{
        display: none;
    }
    #Header-Login-Signup {
        display: none;
    }
    #Header-container{
        /* border: 1px solid red; */
        display: flex;
    }
    .menu-bar-c4-mg {
        margin-left: auto;
        align-self:flex-end ;
        height: 7rem;
        width: 5rem;
    }

}
@media (min-width:750px) and (max-width:1050px) {
    #Header-Elements{
        display: none;
    }
    #Header-Login-Signup {
        display: none;
    }
    /* #Header-container{
        border: 1px solid red;
    } */
    .menu-bar-c4-mg {
        margin-left: auto;
        align-self:flex-end ;
        height: 7rem;
        width: 5rem;
    }

}
@media (min-width:1050px) {
    .menu-bar-c4-mg{
        display: none;
    }
}