#container-3-main{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    justify-content: center;
    padding-bottom: 3rem;
    
}
#container-3-main-element-1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 2.9rem;
    padding-top: 2.5rem;

    padding-bottom: 2.5rem;
}
#container-3-main-element-2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.7rem;
}
#container-3-main div {
    /* border: 1px solid red; */
    /* width: 80vh; */
    /* height: 25vh; */
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: center; */
}

#container3Heading h1 {
   margin-left: 7rem;

}


#container-3-main div:first-child h1{
    font-family: "Carter One", system-ui;
    font-size: 2rem;

}
#container-3-main div:first-child h1:last-child{
    color: #2a902e;
    font-size: 3rem;

}
#container3para{


}
#container3para-container{
    /* border: 1px solid green; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 0.3rem;
    

}
#container3para-container p {
    font-family: "Assistant", sans-serif;
    color:#8a8888;
    text-align: justify;
    padding-right:8em;
    font-size: 1rem;
    line-height: 1.5rem;

}
#container3para-container span {
    margin-right: 7rem;
    font-family: "Assistant", sans-serif;
    color:#8a8888;
    font-size: 1rem;


}
#container3image{
    overflow: hidden;
    height: 31rem;

    
}
#container3image img {
    border-radius: 20px;
}
.agri-component{
    border: 1px solid #2a902e;
    width: 17rem;
    height: 15rem;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    background-color: #2a902e;

}
.agri-component h2{
    color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    align-self: center;
    font-size: 2.5rem;
    margin-bottom: 1rem;

}
.agri-component h3{
    color: #ffffff;
    margin-left: 1rem;
    margin-bottom: 0.5rem;
}

.agri-component span{
    margin-left: 1rem;
    margin-right: 0.4rem;
    color: white;
    font-family: "Assistant", sans-serif;
    font-size: 0.8rem;
}

@media (min-width: 340px) and (max-width: 450px){
    #container-3-main{
        /* height: 110rem; */
        height: auto;
    }
    #container-3-main-element-1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    #container3para-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #container3para-container a span{
    font-size: 1.5rem;
        
    }



    #container3Heading h1 {
        margin: 0;
    }
    #container3para-container p {
        padding-left: 1.5em;
        padding-right: 1.5em;
    text-align: center;
    font-size: 1.5rem;
    line-height: 2.2rem;


    }

    #container3Heading{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        
    }
    #container-3-main-element-2{
        margin-bottom: 3rem;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;


    }
    .agri-component{
        width: 28rem;
        height: 23rem;
    }
    .agri-component h2{
        font-size: 3.2rem;
    }
    .agri-component h3{
        font-size: 2.3rem;
    }
    .agri-component span{
        font-size: 1.3rem;
    }
}
@media (min-width: 450px) and (max-width: 570px){
    #container-3-main{
        /* height: 110rem; */
        height: auto;
    }
    #container3para-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #container3para-container a span{
    font-size: 1.5rem;
        
    }

    #container-3-main-element-1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    #container3para-container span{
        margin-right: 0;
        text-align: center;
        font-size: 1.5rem;
    }
    #container3para-container p {
        padding-left: 1.5em;
        padding-right: 1.5em;
    text-align: center;
    font-size: 1.5rem;
    line-height: 2.2rem;


    }
    #container3Heading h1 {
        margin: 0;
    }

    #container3Heading{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        
    }
    #container-3-main-element-2{
        margin-bottom: 3rem;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;


    }
    .agri-component{
        width: 28rem;
        height: 23rem;
    }
    .agri-component h2{
        font-size: 3.2rem;
    }
    .agri-component h3{
        font-size: 2.3rem;
    }
    .agri-component span{
        font-size: 1.3rem;
    }

}
@media (min-width: 570px) and (max-width: 700px){
    #container-3-main{
        /* height: 110rem; */
        height: auto;
    }
    #container-3-main-element-1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    #container3para-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #container3para-container a span{
    font-size: 1.5rem;
        
    }

    #container3para-container span{
        margin-right: 0;
        text-align: center;
        font-size: 1.5rem;
    }
    #container3para-container p {
        padding-left: 1.5em;
        padding-right: 1.5rem;
    text-align: center;
    font-size: 1.5rem;
    line-height: 2.2rem;


    }
    #container3Heading h1 {
        margin: 0;
    }

    #container3Heading{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        
    }
    #container-3-main-element-2{
        margin-bottom: 3rem;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;


    }
    .agri-component{
        width: 28rem;
        height: 23rem;
    }
    .agri-component h2{
        font-size: 3.2rem;
    }
    .agri-component h3{
        font-size: 2.3rem;
    }
    .agri-component span{
        font-size: 1.3rem;
    }

}