#officer-login-items-controller{
    border: 1px solid #ffffff;
    
    border-radius: 20px;
    width: 30rem;
    height: 28rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    
}

#officer-login-items-controller div label{
    font-family: "Assistant", sans-serif;

}
#officer-login-items-controller div input {
    margin-top: 0.5rem;
    width: 18.7rem;
    height: 2.5rem;
    border-radius: 10px;
    outline: none;
    padding-left: 1rem;
    font-family: "Assistant", sans-serif;

}
#officer-main-login-con{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50rem;
    position: relative;
    background-color: #efeff9;
    width: 100%;
}
.officer-btn-login-c3-w7{
    width: 20rem;
    height: 2.5rem;
    border-radius:10px;
    background-color: #232323;
    color: white;
}
@media (min-width:300px) and (max-width:550px){
    #officer-login-items-controller{
        width: 20rem;

    }
    #officer-login-items-controller div input {
        width: 13rem;
    }
    .officer-btn-login-c3-w7{
        width: 14.5rem;
        height: 2.5rem;
        border-radius:10px;
        background-color: #232323;
        color: white;

    }

}