/* body{
    display: flex;
    flex-direction:column ;
    align-items: center;
    justify-content: center;
} */
#root{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


#heading-container{
    /* width: 100vh; */
    height: 90vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* align-items: center; */


}
.H-containers{
    width: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.heading-text-container{
    width: 38rem;
}
#heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left:3em;

}
#heading h1{
    font-family: "Carter One", system-ui;
    font-weight: 400;
    font-style: normal;
    
}
#heading-para{
    display: flex;
    flex-direction: column ;
    gap: 0.5rem;
}
#heading-para p{
    font-family: "Cambay", sans-serif;
    color: #8a8888;
    font-size: 0.9rem;

}
#Heading-buttons{
    width: 70vh;
    height: 5rem;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 4rem;
}
.Btn-items {
    border: 1px solid #317ef3;
    background-color: #317ef3;
    border-radius: 10px;
    width: 7rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    font-family: sans-serif;
}




/* media query for home contianer-1*/




@media (min-width: 450px) and (max-width: 570px) {
    #home-heading-container-main{
        /* border: 1px solid blue; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #heading-container{
        /* border: 1px solid rgb(149, 34, 34); */
        /* height: auto; */
        width: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

    }
    #slid-image-con{
        display: none;
    }
    #heading{
        width: 40rem;
        /* border: 1px solid black; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin: 0;
    }
    .heading-text-container{
        /* border: 1px solid red; */
        /* width: 40rem; */
    }

    .heading-text-container h1{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    #heading-para{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
    #Heading-buttons{
        align-items: center;
        justify-content: center;
    }

}


