.pages-main{
    /* border: 1px solid black; */
    width:auto;
    /* height: 100vh; */
    display: flex;

}
.pages-element-1{
    /* border: 1px solid red; */
    width: 68rem;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    overflow: scroll;
    
}
.pages-element-2{
    /* border: 1px solid green; */
    border-left: 1px solid #e7e7e7;
    width: auto;
    display: flex;
    /* align-items: center;
     */
     justify-content: center;
     
}
.page-container-1 {
    margin-right: 2rem;
    margin-left: 3.5rem;
    display: flex;
    flex-direction: column;
}
::-webkit-scrollbar {
    display: none;
  }
  
.page-container-1 h3 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-family: "Antonio", sans-serif;
}
.page-container-1 p {
    color: #838181;
    font-family: "Assistant", sans-serif;
    text-align: justify;
    padding-left: 1rem;
    padding-right: 1rem;
    
}
a:active{
    color: #cecece;
}
@media (min-width:50px) and (max-width:300px){


    .pages-element-2{
        display: none;
    }
    .pages-element-1{
        border: 1px solid rgb(250, 18, 18);
    }
}
@media (min-width:300px) and (max-width:550px){
    .pages-element-2{
        display: none;
    }
    .pages-element-1{
        border: 1px solid rgb(250, 18, 18);
    }
}
@media (min-width:550px) and (max-width:750px){
    .pages-element-2{
        display: none;
    }
    .pages-element-1{
        border: 1px solid rgb(250, 18, 18);
    }

}