#complaint-main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#complaint-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

}
#complaint-headings{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.7rem;
    border: none;
    font-family: "Candal", sans-serif;

}
#complaint-headings h1{
    font-family: "Candal", sans-serif;
    color: #404040;
}
#complaint-headings h1:last-child{
    font-size: 2.6rem;
}
/* #jldoid{
    font-size: 2.5rem;
} */
#complaint-sub-heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Assistant", sans-serif;
    color: #797878;
    font-size: 1rem;
    gap: 0.3rem;
}
#complaint-1 button {
    border: 1px solid #4083f7;
    background-color: #4083f7;
    text-align: center;
    border-radius: 30px;
    width: 12rem;
    font-family: "Cambay", sans-serif;
}
#complaint-component-1{
    /* border: 1px solid black; */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#complaint-component-2{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#complaint-component-2-items{
    width: 60rem;
    height: 25rem;
    border: 1px solid #4083f7;
    background-color: #4083f7;
    border-radius: 45px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
#complaint-component-2-items-heading{
    font-family: "Hind", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}
#complaint-component-2-items-heading h1:last-child{
    font-size: 1.9rem;
}
#complaint-component-2-items-subheading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
    font-family: "Assistant", sans-serif;
    color: #e5e3e3;

}
#complaint-component-2-items button {
    margin-top: 1.4rem;
    background-color: white;
    border: 1px solid white;
    border-radius: 15px;
    width: 15rem;
    color: black;
}
#complaint-component-items{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}
.complaint-component-items-1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
/*  devop */
.complaint-r-devop{ 
    border: 1px solid rgb(232, 232, 232);
    border-radius:20px;
    width: 22rem;
    height: 23.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.complaint-r-devop:hover{
    background-color: #e1f6dc;
    border: 1px solid #e1f6dc;
}
.complaints-svg {
    margin-top: 1em;
    border: 1px solid #dce8f0 ;
    background-color:#dce8f0 ;
    width: 5rem;
    height: 5rem;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.complaints-svg svg{
    height: 2.5rem;
}
.devop-heading {
    font-family: "Hind Madurai", sans-serif;
    font-weight: bold;
}
.devop-sub-heading{
    display: flex;
    flex-direction: column;
}
.devop-sub-heading{
    /* border: 1px solid black; */
    width: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 8rem;
    font-size: 0.9rem;
    font-family: "Assistant", sans-serif;
    color: rgb(130, 128, 128);

}
.devop-btn {
    width: 10rem;
    background-color: inherit;
    color: black;
    border: 1px solid rgb(200, 198, 198);
}