#login {
    border: 1px solid rgb(245, 245, 245);
    height: 27rem;
    width: 30rem;
    display: flex;
    position: relative;

    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    background-color: rgb(255, 255, 255)
}
#login-container{
    /* border: 1px solid black; */
    background-color: #efeff9;
    width: 100%;
    height: 45rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}
#login h2 {
    margin-top: 1rem;
    font-family: "Alatsi", sans-serif;
    align-self:center ;
    margin-bottom: auto;
    color: #000000

}
.login-elements {
    margin-top: 1rem;
    display: flex;
    flex-direction:column ;
    gap: 0.5rem;
    align-self: center;
    margin-bottom: auto;
  
}
.input-container{
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20rem;
    height: 6rem;
    gap: 0.5rem;
 
}
.input-container label {
    margin-right: auto;
    align-self: flex-start;
    font-family: "Sora", sans-serif;
    font-size: 1.1rem;
    color: #2c2b2b;
}
.input-container > input {
    border-radius: 10px;
    border: 1px solid #c0c0c0;
    background-color: inherit;
    width: 18rem;
    height: 2.5rem;
    padding-left: 1.1rem;
    outline: none;
    color: #000000;
    font-size: 0.9rem;
}
p {
    color: #4c94ff;
    font-family: "Assistant", sans-serif;
}
.login-mt-4 {
    width: 20rem;
    height: 3rem;
    background-color: #282727;
    border: 1px solid #282727 ;
    border-radius: 10px;
    color: white;
    outline: none;
}
#login-xx-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
#login-image-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
#login-image-container img{
    height: 27rem;
    border-radius: 10px;
}
.username-error {
    color: red;
    font-size: 0.9rem;
}



/* login animation  */


.loading-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
      
    }
    
    .loading-spinner {
      border: 8px solid #0000001a;
      border-left-color: #7983ff;
      border-radius: 50%;
      width: 50px;
      height: 50px;
      animation: spin 1s linear infinite;
    }
    
    @keyframes spin {
      to {
        transform: rotate(360deg);
      }
    }

@media (min-width:50px) and (max-width:300px){
    #login-container{
        height: 92.5rem;
    }

    #login-image-container{
        display: none;
    }
    #login{
        width: 20rem;
    }
    .input-container{
        width: auto;
    }
    .input-container > input {
        width: 10rem;
    }
    .login-mt-4{
        width: 10rem;
        
    }
    #login-container{
        width: 100%s;
    }
}
@media (min-width:300px) and (max-width:550px){
    #login-container{
        height: 65rem;
    }
    #login-image-container{
        display: none;
    }
    #login{
        width: 20rem;
    }
    .input-container{
        width: auto;
    }
    .input-container > input {
        width: 15rem;
    }
    .login-mt-4{
        width: 15rem;
        
    }
    #login-container{
        width: 100%s;
    }

}
@media (min-width:550px) and (max-width:750px){
    #login-container{
        height: 65rem;
    }
    #login-image-container{
        display: none;
    }
    #login{
        width: 30rem;
    }
    .input-container{
        width: auto;
    }
    .input-container > input {
        width: 20rem;
    }
    .login-mt-4{
        width: 20rem;
        
    }
    #login-container{
        width: 100%s;
    }

}