#signup-container-main{
    /* border: 1px solid #000000; */
    position: relative;
    width: 100%;
    height: 44rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
    
    background-color: #efeff9;
}
h2 {
    margin-top: 1rem;
    font-family: "Alatsi", sans-serif;

}
.signup-container{
    background-color: white;
    position: relative;
    border: 1px solid #ffffff;
    border-radius: 20px;
    width: 35rem;
    height: 39rem;
}
#signup-img-container{
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    border: none;
    width: 20rem;
}
#signup-img-container img{
    height: 39rem;
    border-radius:20px ;
    align-self: flex-end;
    margin-left: auto;
}

#s-elements{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}
#s-elements input{
    width: 20rem;
    height: 3em;
    border-radius: 10px;
    border: 1px solid #b6b6b6;
    padding-left: 1rem;
}
#fname-lname input {
    width: 13rem;
    overflow: none;
}
#fname-lname{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
#s-btn-container{
    width: 30rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;


}
#s-btn{
    
    width: 22rem;
 
}
#otp-container{
    position:absolute;
    width: 90vh;
    height: 50vh;
    background-color: #b2aeae;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;


}
#otp-logo{
    height: 5rem;
}

#otp-img-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
#otp-input-container{
    display: flex;
    gap: 2rem;

    /* justify-content: center;
    
    align-items: center; */

}
#otp-input-container input{
    border: 1px solid #7f7e7e;
    border-radius:10px ;
    height: 4rem;
    width: 2.5rem;
    text-align: center;
    font-size: 1rem;
    outline: none;

}
#otp-button-container{
    margin-top: 1rem;
    display: flex;
    gap: 4rem;
}
#otp-button-container button{
    background-color: #317ef3;
    border: #317ef3;
    width: 8rem;
    font-size: 1rem;

    
}

/* login animation  */


.loading-container {
    position: absolute;
    width: 33rem;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 60vh;
      
    }
    
    .loading-spinner {
      border: 8px solid #0000001a;
      border-left-color: #7983ff;
      border-radius: 50%;
      width: 50px;
      height: 50px;
      animation: spin 1s linear infinite;
    }
    
    @keyframes spin {
      to {
        transform: rotate(360deg);
      }
    }