#signup-container-main{
    /* border: 1px solid #000000; */
    position: relative;
    width: 100%;
    height: 44rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
    
    background-color: #efeff9;
}
h2 {
    margin-top: 1rem;
    font-family: "Alatsi", sans-serif;

}
.signup-container{
    background-color: white;
    position: relative;
    border: 1px solid #ffffff;
    border-radius: 20px;
    width: auto;
    
}
#signup-img-container{
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    border: none;
    width: 20rem;
}
#signup-img-container img{
    height: 38rem;
    border-radius:20px ;
    align-self: flex-end;
    margin-left: auto;
}

#s-elements{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}
#s-elements input{
    width: 20rem;
    height: 3em;
    border-radius: 10px;
    border: 1px solid #b6b6b6;
    padding-left: 1rem;
}
#fname-lname input {
    width: 13rem;
    overflow: none;
}
#fname-lname{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
#s-btn-container{
    width: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    padding-bottom: 1rem;

}
#s-btn{
    
    width: 22rem;
 
}
#otp-container{
    position:absolute;
    width:auto;

    /* height: 50vh; */
    background-color: #b2aeae;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
    


}
#otp-logo{
    height: 5rem;
}

#otp-img-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
#otp-input-container{
    display: flex;
    gap: 2rem;

}
#otp-input-container input{
    border: 1px solid #7f7e7e;
    border-radius:10px ;
    height: 4rem;
    width: 2.5rem;
    text-align: center;
    font-size: 1rem;
    outline: none;

}
#otp-button-container{
    margin-top: 1rem;
    display: flex;
    gap: 4rem;
}
#otp-button-container button{
    background-color: #317ef3;
    border: #317ef3;
    width: 8rem;
    font-size: 1rem;

    
}
#s-btn{
    background-color: black;
    color: white;
    height: 3rem;
    border-radius: 20px;
    border: 1px solid black;
}

.otp-btns {
    height: 3rem;
    border-radius:20px ;
    color: white;
}

/* login animation  */


.loading-container {
    position: absolute;
    width: 33rem;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 60vh;
      
    }
    
    .loading-spinner {
      border: 8px solid #0000001a;
      border-left-color: #7983ff;
      border-radius: 50%;
      width: 50px;
      height: 50px;
      animation: spin 1s linear infinite;
    }
    
    @keyframes spin {
      to {
        transform: rotate(360deg);
      }
    }
    @media (min-width:50px) and (max-width:300px){
        #signup-container-main{
            width: 100%;
        }

        #signup-img-container{
            display: none;
        }
        .signup-container{
            width: auto;
            margin-right: 1rem;
            margin-left: 1rem;
        }
        #s-elements input{
            width: 10rem;
        }
        #fname-lname input {
            width:5rem;

        }
        #s-btn{
            width: 10rem;
        }

    }
    @media (min-width:300px) and (max-width:550px){
        #signup-container-main{
            width: 100%;
        }
        #signup-img-container{

            display: none;
        }
        .signup-container{
            width: auto;
            margin-right: 1rem;
            margin-left: 1rem;
        }
        
        #s-btn{
            width: 10rem;
        }
        #fname-lname{
            display: flex;
            flex-direction: column;

        }
        #s-elements input{
            width: 9rem;
        }
        .signup-container{
            padding-left: 4rem;
            padding-right: 4rem;
        }
        #otp-input-container input{
            width:2rem;
            height: 2rem;
        }
        #otp-input-container{
            gap: 0.5rem;
        }
        #otp-container{
            padding: 0;
        }
        .otp-btns {
            height: 3rem;
            width: 2rem;
        }
        #otp-button-container{
            padding-bottom: 0.3rem;
        }
        #otp-button-container button{
            width: 4rem;
            height: 2rem;
            font-size: .8rem;
        }


    }
    @media (min-width:550px) and (max-width:750px){
        #signup-img-container{
            display: none;
        }
        .signup-container{
            width: auto;
            margin-right: 1rem;
            margin-left: 1rem;
        }

    }