#Education-system-main{

    /* border: 1px solid black; */
    /* border: 1px solid black; */
    background-color: #fafbf5;
    width: 100%;
    /* height: 55rem; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 4rem;
}
#Education-system-container-1{

    /* border: 1px solid black; */
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}
#Education-system-container-2{

    /* border: 1px solid black; */
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 2.5rem;
}
#Education-system-Heading{

    font-family: "Carter One", system-ui;

}
#Education-system-image img{
    height: 38rem;
    border-radius: 20px;

}
.Education-system-containers{
    
    /* border: 1px solid red; */
    /* width: 85vh; */
    height: 50rem;

}
#Education-system-Heading h1:last-child{
    color: #1470D8;
    font-size: 1.4rem;
    
}
#Education-system-para{
    
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    font-family: "Assistant", sans-serif;
    font-size: 1rem;

}
#Education-system-para span{
    margin-left: 0.5rem;
    color: #939090;
}
#Education-system-para button {
    
    margin-top: 1rem;
    width: 7rem;
    height: 2rem;
    background-color: inherit;
    color: #938f8f;
    border: 1px solid #938f8f;
    border-radius: 50px;
}
#Education-system-elements{
    
    height: 37rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.Education-system-elements-items{
    
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    gap: 1.5rem;
    

}
.Education-item-img{
    
    border: 1px solid  #efefff;
    background-color: #efefff;
    border-radius: 20px;
    margin-left: 1rem;
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Education-item-img img {
    height: 2.5rem;
}
.Education-item-txt{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.Education-item-txt h3 {
    margin-bottom: 1rem;
    font-size: 0.9rem;
    font-family: "Antonio", sans-serif;
}
.Education-item-txt span{
    font-family: "Assistant", sans-serif;
    font-size:0.9rem;
    color: #938f8f;

    
}
@media (min-width: 340px) and (max-width: 450px){
    #Education-system-container-1{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

    }
    #Education-system-Heading h1 {

        font-size: 2rem;
    }
    #Education-system-Heading h1:last-child{
        font-size: 2rem;
    }
    
    #Education-system-para{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 0.5rem;
        width: 60rem;
        /* border: 1px solid black; */
    }
    #Education-system-container-2{
        width: 65rem;
    }
    #Education-system-para span {
        font-size: 1.5rem;
        
        text-align: center;
    }
    .Education-item-txt h3 {
        font-size: 1.4rem;
    }
    .Education-item-img img {
        width: 5rem;
        height: 5rem;
    }
    .Education-item-txt span {
        font-size: 1.2rem;
    }
    #Education-system-image img{
        height: 40rem;
        width: 32rem;

    }
}
@media (min-width: 450px) and (max-width: 570px){
    #Education-system-container-1{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

    }
    #Education-system-Heading h1 {

        font-size: 2rem;
    }
    #Education-system-Heading h1:last-child{
        font-size: 2rem;
    }
    
    #Education-system-para{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 0.5rem;
        width: 60rem;
        /* border: 1px solid black; */
    }
    #Education-system-container-2{
        width: 65rem;
    }
    #Education-system-para span {
        
        font-size: 1.5rem;

        text-align: center;
    }
    .Education-item-txt h3 {
        font-size: 1.4rem;
    }
    .Education-item-img img {
        width: 5rem;
        height: 5rem;
    }
    .Education-item-txt span {
        font-size: 1.2rem;
    }
    #Education-system-image img{
        height: 40rem;
        width: 32rem;

    }

}
@media (min-width: 570px) and (max-width: 700px){
    #Education-system-container-1{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

    }
    #Education-system-Heading h1 {

        font-size: 2rem;
    }
    #Education-system-Heading h1:last-child{
        font-size: 2rem;
    }
    
    #Education-system-para{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 0.5rem;
        width: 60rem;
        /* border: 1px solid black; */
    }
    #Education-system-container-2{
        width: 65rem;
    }
    #Education-system-para span {
        font-size: 1.5rem;
        text-align: center;
    }
    .Education-item-txt h3 {
        font-size: 1.4rem;
    }
    .Education-item-img img {
        width: 5rem;
        height: 5rem;
    }
    .Education-item-txt span {
        font-size: 1.2rem;
    }
    #Education-system-image img{
        height: 40rem;
        width: 32rem;
    

    }

}